.body {
  padding: 20px 5px;
  border-top: 1px $color-title solid;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.link {
  text-decoration: none;
}
.title {
  @include title;
}
.text {
  font-size: 12px;  
}