$font-family: PlayFire, sans-serif;
$second-family: Lora, sans-serif;

$bg-main: #0f141c;
$color-main: #e2e8f0;
$color-title: #F8E7C9;
$second-color: #1a222f;
$third-color: #ffc107;
$fourth-color: #e07a5f;

$index: calc(1vw + 1vh);




